.pagination {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.pagination button {
  padding: 0.6rem 1.2rem;
  border-radius: 6px;
  border: none;
  background-color: var(--primary);
  color: white;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.2s;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination button:hover:not(:disabled) {
  background-color: #0096a5;
}

.pagination span {
  font-weight: bold;
  color: var(--secondary);
}
